<div class="user_form">
<h1>Register</h1>
<form id="register" method="POST" action="/login.php">
	<input type="text" id="firstName" name="firstName" placeholder="Your First Name" />
	<input type="text" id="lastName" name="lastName" placeholder="Your Last Name" />
	<input type="text" id="email" name="email" placeholder="Your Email Address" />
	<input type="text" id="userName" name="userName" placeholder="Your Username" />
	<input type="password" id="password" name="password" placeholder="Your Password" />
	<input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="Confirm Your Password" />
	<input class="btn" type="submit" name="register" value="Register">
</form>
</div>